body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "VT323", monospace;
    overflow: hidden;
}

body,
.snake {
    background-color:#abb78a ;
}

#gameBoard {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* 20 columns */
    grid-template-rows: repeat(20, 1fr); /* 20 rows */
    outline: 10px solid black; /* Outer outline */
    margin-inline: auto;
    margin-block: 1.5rem;
    background-color: white; /* Background color of the board */
}



#instruction-text {
    position: absolute;
    top: 60%;
    color: black;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}

.scores {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full width of the container */
    max-width: 600px; /* Adjust as needed */
    margin-bottom: 20px; /* Space between scores and game board */
    font-size: 40px;
    font-weight: bolder;
    color: yellow;
}

#score,
#highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

#score {
    color: yellow;
}

#highScore {
    color:yellow;
    
}

.snake {
    background-color: green ;
    border:1px solid green;

}

.food {
    background-color:red  ;
    border: red 5px solid;
     width: 8px;
     height: 8PX;
}
